@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');

:root {
    --blue: #3F54CE;
    --white: #FFFFFF;
    --gradient:#3E62DF,#4045BB;
    --gray1: #ACACAC;
    --gray2:#D0D1D5;
    --gray3:#CACCF5;
    --black1: #000000;
    --black2: #2E3F53;
}

*{
    margin: 0;
    padding: 0;
}
 body {
     width: 100%;
     height: 100vh;
   
 }
/* .login{
     width: 100vw;
    height: 100vh; 
} */
.spliteScreenColor{
width: 100%;
    height: 100vh;
    background: linear-gradient(to right,
                #3E62DF, #4045BB 0%,
                #3E62DF, #4045BB 50%,
                #FFFFFF 50%,
                #FFFFFF 100%);
}
.bgSecondary {
    background-color: var(--gray1) !important;
}
